- name: ios configuration
  hosts: ios
  gather_facts: false
  connection: network_cli
  tasks:
    - name: interfaces
      cisco.ios.ios_interfaces:
        config:
          - name: "{{item.name}}"
            description: "{{item.description}}"
            enabled: "{{item.enabled}}"
      loop: "{{interfaces}}"
