{%for vrrp in vrrps%}
interface {{vrrp.interface}}
vrrp {{vrrp.id}} ip {{vrrp.virtual_ip}}
vrrp {{vrrp.id}} priority {{vrrp.priority}}
{%if vrrp.preempt%}
vrrp {{vrrp.id}} preempt
{%endif%}
{%endfor%}